* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 1em;
    line-height: 1.3em;
}

h1 {
    font-weight: normal;
    line-height: 1.3em;
}

a {
    color: #00f;
}

header {
    padding: 1.5rem;
    color: #fff;
    background-color: #4F5695;
}

header h1 {
    font-size: 3em;
    font-weight: 600;
}

header h1 a {
    color: inherit;
    text-decoration: none;
}

.number {
    display: inline-block;
    padding: .5em;
    width: 2.1em;
    height: 2.1em;
    font-weight: 100;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    border-radius: 50%;
    background-color: #E34E5F;
}

.notification {
    margin: 0 0 1.5rem 0;
    color: #888;
}

.sets {
    padding: 1.5rem;
    font-size: 1.4em;
    line-height: 1.3;
}

.set {
    margin: 1em -.5em;
}

.set .item {
    list-style: none;
    font-weight: 600;
    cursor: pointer;
    padding: 0 .5em;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.set .item .number {
    margin: .5em .5em .5em 0;
}

.set .item .info {
    font-weight: 100;
}

.set .item.done {
    color: #aaa;
    background-color: #eee;
}

.set .item.done .number {
    background-color: #aaa;
}

.set-timer-wrapper {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.75);
}

.set-timer-wrapper.hidden {
    display: none;
}

.set-timer-wrapper {
    font-size: 30vw;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.btn-reset {
    padding: 1.25rem;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: #aaa;
    border: 0;
    border-radius: .75em;
    background-color: #eee;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.btn-active {
    color: #fff;
    background-color: #61DB6F;
}

@media (min-width: 30em) {

    .set-timer-wrapper {
        font-size: 10em;
    }

}
